<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-md-8 col-12">
            <h2>Gerenciar <b>Usuários</b></h2>
          </div>
          <div class="col-md-4 col-12 text-center">
            <div class="row text-right">
              <div class="col-md-4 col-12"></div>
              <div class="col-md-4 col-12">
                <a class="btn btn-success mt-1 w-100" (click)="isAddUserOpen = true"><i class="material-icons">&#xE147;</i> <span>Novo Usuário</span></a>
              </div>
              <!-- <div class="col-md-4 col-12">
                <a class="btn btn-danger mt-1 w-100" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Deletar Selecionados</span></a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <!-- <th>
                <span class="custom-checkbox">
                  <input type="checkbox" id="selectAll">
                  <label for="selectAll"></label>
                </span>
              </th> -->
              <th>Nome</th>
              <th>Email</th>
              <th>Senha</th>
              <th>Perfil</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; let i = index">
              <!-- <td>
                <span class="custom-checkbox">
                  <input type="checkbox" id="checkbox1" name="options[]" value="1">
                  <label for="checkbox1"></label>
                </span>
              </td> -->
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>*******</td>
              <td>{{ user.profile }}</td>
              <td>
                <a class="edit" (click)="update(user.id)" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                <a class="delete" (click)="delete(user.id)"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
              </td>
            </tr>            
          </tbody>
        </table>
      </div>
      <!-- <div class="clearfix">
        <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
        <ul class="pagination">
          <li class="page-item disabled"><a href="#"><</a></li>
          <li class="page-item"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item active"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">4</a></li>
          <li class="page-item"><a href="#" class="page-link">5</a></li>
          <li class="page-item"><a href="#" class="page-link">></a></li>
        </ul>
      </div> -->
    </div>
  </div>
  <!-- Add Modal HTML -->  
  <app-modal #closeConversationModal id="addModal"
      [show-modal]="isAddUserOpen"
      [title]="'Adicionar novo usuário'"
      >
        <div class="modal-body">
          <div class="row mt-2">
            <div class="col-12">
              <label for="addUserName">Nome</label>
            </div>
            <div class="col-12">
              <input class="w-100" type="text" name="addUserName" id="addUserName" [(ngModel)]="userToInsert.name">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <label for="addUserEmail">E-mail</label>
            </div>
            <div class="col-12">
              <input class="w-100" type="text" name="addUserEmail" id="addUserEmail" [(ngModel)]="userToInsert.email">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <label for="addUserPassword">Senha</label>
            </div>
            <div class="col-12">
              <input class="w-100" type="text" name="addUserPassword" id="addUserPassword" [(ngModel)]="userToInsert.password">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <label for="addUserProfile">Perfil</label>
            </div>
            <div class="col-12">
              <input class="w-100" type="text" name="addUserProfile" id="addUserProfile" [(ngModel)]="userToInsert.profile">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary w-100 mb-2" (click)="save()" aria-label="Close">
            Salvar
          </button>
          <button class="btn btn-secondary w-100" aria-label="Close" (click)="isAddUserOpen = false">
            Cancelar
          </button>
      </div>
  </app-modal>
  <!-- Edit Modal HTML -->
  <app-modal #closeConversationModal id="editModal"
      [show-modal]="isEditUserOpen"
      [title]="'Editar usuário'"
      >
        <div class="modal-body">
          <div class="row mt-2">
            <div class="col-12">
              <label for="editUserName">Nome</label>
            </div>
            <div class="col-12">
              <input class="w-100" type="text" name="editUserName" id="editUserName" [(ngModel)]="selectedUser.name">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <label for="editUserEmail">E-mail</label>
            </div>
            <div class="col-12">
              <input class="w-100" type="text" name="editUserEmail" id="editUserEmail" [(ngModel)]="selectedUser.email">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <label for="editUserPassword">Senha</label>
            </div>
            <div class="col-12">
              <input class="w-100" type="text" name="editUserPassword" id="editUserPassword" [(ngModel)]="selectedUser.password">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <label for="editUserProfile">Perfil</label>
            </div>
            <div class="col-12">
              <input class="w-100" type="text" name="editUserProfile" id="editUserProfile" [(ngModel)]="selectedUser.profile">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary w-100 mb-2" (click)="update(selectedUser.id, true)" aria-label="Close">
            Salvar
          </button>
          <button class="btn btn-secondary w-100" aria-label="Close" (click)="isEditUserOpen = false">
            Cancelar
          </button>
      </div>
  </app-modal>
  <!-- Delete Modal HTML -->
  <app-modal #closeConversationModal id="deleteModal"
      [show-modal]="isDeleteUserOpen"
      [title]="'Remover usuário'"
      >
        <div class="modal-body">
          <p>Tem certeza que deseja remover o usuário?</p>
          <p><strong>Essa ação não pode ser desfeita.</strong></p>        
        </div>  
        <div class="modal-footer">
          <button type="button" class="btn btn-danger w-100 mb-2" (click)="delete(selectedUser.id, true)" aria-label="Close">
            Deletar
          </button>
          <button class="btn btn-secondary w-100" aria-label="Close" (click)="isDeleteUserOpen = false">
            Cancelar
          </button>
      </div>
  </app-modal>
  <!-- Delete Selecteds Modal HTML -->
  <app-modal #closeConversationModal id="deleteAllModal"
      [show-modal]="isDeleteSelectedUsersOpen"
      [title]="'Remover usuário'"
      >
        <div class="modal-body">
          <p>Tem certeza que deseja remover <strong>TODOS</strong> os usuários selecionados?</p>
          <p><strong>Essa ação não pode ser desfeita.</strong></p>        
        </div>  
        <div class="modal-footer">
          <button type="button" class="btn btn-danger w-100 mb-2" (click)="alerta()" aria-label="Close">
            Deletar
          </button>
          <button class="btn btn-secondary w-100" aria-label="Close" (click)="isDeleteUserOpen = false">
            Cancelar
          </button>
      </div>
  </app-modal>
</body>
