<!DOCTYPE html><html class=''>
<head>
</head>
<body>
<div id="frame">
	<div id="sidepanel" [class.menu-open]="menuOpen">
		<div id="profile">
			<div class="wrap">								
				<img id="profile-img" [src]="hirerLogo" class="online" alt="" />
				<p>{{ hirerName }}</p>
			</div>
		</div>
		<div id="search">
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
			<input type="text" placeholder="Procurar contatos..." />
		</div>
		<div id="contacts">
			<ul>
				<li *ngFor="let contact of contacts; let i = index" style="border-bottom: 1px solid lightblue;" class="contact" [class.active]="i === selectedIndex" (click)="selectContactById(contact.id)">
					<span class="badge badge-primary badge-pill">{{ getContactNotifications(contact) }}</span>
					<div class="wrap">
						<span class="contact-status" [class.online]="contact.apt2ActiveMessage"></span>						
						<p attr.data-letters="{{ contact | getContactName | getContactNameInitials }}" class="name"><img style="width: 20px; margin: 0px; transform: translate(10px, 0px);" [src]="contact.channel === 'Telegram' ? '../assets/img/icon/telegram-512x512.png' : '../assets/img/icon/whatsapp-512x512.png'" alt=""><div [style.display]="menuOpen ? 'inline' : 'none'" class="full-name">{{ contact | getContactName }}</div></p>
						<div class="meta" *ngIf="menuOpen">							
							<p class="preview">{{ contact.lastMessage }}</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div id="bottom-bar">
			<button id="addcontact" (click)="menuOpen = !menuOpen">
				<i class="fa fa-users fa-fw" *ngIf="!menuOpen" aria-hidden="true"></i>
				<i class="fa fa-compress fa-fw" *ngIf="menuOpen" aria-hidden="true"></i>
				<span>Contatos</span></button>
			<button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Configurações</span></button>
		</div>
	</div>
	<div class="content" [hidden]="menuOpen">
		<div class="contact-profile">
			<p attr.data-letters="{{ selectedContact | getContactName | getContactNameInitials }}" style="margin-left: 8px;">
			<p>{{ selectedContact | getContactName }}</p>
			<div class="social-media">
				<span class="badge badge-danger" *ngIf="selectedContact.apt2ActiveMessage">Encerrar</span>
				<span class="badge badge-light" *ngIf="!selectedContact.apt2ActiveMessage">Encerrada</span>
				<!-- <button type="button" class="btn btn-primary">Encerrar</button> -->
			</div>
		</div>
		<div class="messages">
			<ul>
				<ng-container *ngFor="let m of message.messages">
					<li [class.sent]="m.from === 'admin'" [class.replies]="m.from !== 'admin'">
						<img *ngIf="m.from === 'admin'" [src]="hirerLogo"/>
						<p *ngIf="m.from !== 'admin'" attr.data-letters="{{ selectedContact | getContactName | getContactNameInitials }}" style="border: 0; padding: 0; margin: 0px 12px 6px 8px; width: 22px;">
						<p>{{ m.content }}</p>
					</li>
				</ng-container>
			</ul>
		</div>
		<div class="message-input">
			<div class="wrap">
			<input type="text" #messageBox placeholder="Escreva sua mensagem..." [disabled]="!selectedContact.apt2ActiveMessage"/>
			<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
			<button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
</div>
<script>
	var button = document.querySelector('.bt-menu-trigger');
	button.addEventListener('click', function (){
		button.classList.toggle('bt-menu-open');
	});
</script>
</body>
</html>