<div class="modal" role="dialog" tabindex="-1" style="display: block" [style.display]="showModal ? 'block' : 'none'" style="color: white;">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5>{{ title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelAction()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>        
      <ng-content></ng-content>
    </div>
</div>